infra/.dockerignore 
infra/.env 
infra/docker-compose.development.yaml 
infra/docker-compose.yaml 
infra/Dockerfile 
infra/Dockerfile.development 

# Keep entrypoint files
# infra/entrypoint.sh
# infra/entrypoint.development.sh

node_modules
.git
.gitignore
README.md
assets
yarn.lock
.env
